*~
*.swp

#############
## Xilinx ISE
#############
*.html
*.prj
*.syr
*.xst
xst/*
iseconfig/*
_xmsgs/*
*.xml
*.gise
*.xise
*.cmd_log
*.lso
*.xrpt
*.bgn
*.drc
*.ncd
*.pad
*.pcf
*.par
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.bld
xlnx_auto*
_ngo/*
*.ngm
*.map
*.mrp
*.ngr
*.ngd
*.bit
*.log
*.xwbt
*.txt
*.csv
*.stx
*.xpi

synth/_xmsgs
synth/xst
synth/netlist.lst
synth/kovan-sd.srp
synth/kovan-sd.cfi
synth/kovan-sd.mcs
synth/kovan-sd.ngc
synth/kovan-sd.prm
synth/kovan-sd.psr
synth/kovan-sd.scr
synth/default.xreport
synth/kovan-sd_par.grf
